<div class="container">
  <div class="wrapper">
    <form name="Login_Form" class="form-signin">
      <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
      <hr class="colorgraph">
      <br>
      <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" ng-model="email" />
      <input type="password" class="form-control" name="Password" placeholder="Password" required="" ng-model="password" />
      <button class="btn btn-lg btn-primary btn-block" ng-click="lCtrl.signin(email, password)">Login</button>
    </form>
  </div>
</div>
